<html>
    <head>
        <title>Recent Market Salaries</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <div class="form-container">
            <h1>Recent Market Salaries</h1>
            <div class="description">
                <p>
                    <span>Since November 1st 2022, NYC law mandates that salary bands are included in most job descriptions. 
                    This makes New York City one of a handful of locations that provide this information even before 
                    the interview stage. In an attempt to make this data even more accessible to people out looking for 
                    a new job or negotiating a raise, I created this Flask app to display salary distributions based on
                    job postings in the past 30-45 days.</span>
                </p>
            </div>
            <table class="instructions" border-style = "solid">
                <h2>How to Use:</h2>
                <col width="20%">
                <col width="80%">
                <tr>
                   <td><b>Job Title</b></td>
                   <td>Select the job you want to look up from the dropdown menu.</td>
                </tr>

                <tr>
                    <td><b>Cost of Living Adjustment City</b></td>
                    <td>
                        Select the city you want to scale the salaries to (via CoL Index), otherwise leave it as New York, NY. 
                        This isn't a perfect solution to determine salary distribution in the selected area since salaries don't 
                        necessarily correlate with the index. <u>Take it with a grain of salt.</u>
                    </td>
                 </tr>
                
                <tr>
                   <td><b>Current Salary</b></td>
                   <td>Type in your current salary.</td>
                </tr>

                <tr>
                    <td><b>Experience</b></td>
                    <td>
                        Select the experience level (obtained from LinkedIn filters) from the dropdownn menu. 
                        Not all jobs will have every experience option yet.<br>
                        <u>Note: This option only appears on the second page (after clicking "OK").</u>
                    </td>
                 </tr>
            </table>
            <br>
            <form id="myForm" action="/get_plot" method="POST"> Job Title: <SELECT name="job"> {% for jt in job_list %} <OPTION value="{{jt}}" {% if jt == selected_job %} selected{% endif %}>
                        {{jt}}
                    </option> {% endfor %} </SELECT>
                <br>
                <br> Cost of Living Adjustment City: <SELECT name="geo_loc"> {% for ca in loc_list %} <OPTION value="{{ca}}" {% if ca == selected_loc %} selected{% endif %}>
                        {{ca}}
                    </option> {% endfor %} </SELECT>
                <br>
                <br> Current Salary: <input type="number" name="curr_salary" value="{{ selected_salary }}" required />
                <br>
                <br>
                <input type="submit" value=OK />
                <input type="button" onclick="reset()" value="Reset">
            </form>
        </div>
        <div class="output-container">
            <script>
                function reset() {
                    document.getElementById("myForm").reset();
                }
            </script>
                <br>
                <a href="https://forms.gle/tzAZHUN7RzRdr1o36">Request Data🥺</a>
                <br>
                <a href="https://www.numbeo.com/">Cost of Living Data obtained from Numbeo🙏</a>
                <br>
                <a href="https://www.buymeacoffee.com/ishengy">Buy me a coffee?☕</a>
                <br>
                <a href="https://www.ivansheng.com/">Check my portfolio out👀</a>
                <br>
        </div>
    </body>
</html>