body {
    margin: 0;
    padding: 10;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    text-align: center;
  }

 div.description {
    width: 800px;
    text-align: center;
    margin: 0 auto;
  }

div.how-to {
    width: 800px;
    text-align: left;
    margin: 0 auto;
  }

table.instructions {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

p {
    text-align: center;
    margin: 0;
}

span {
  text-align: justify;
  display: block;
  width: 100%
}